body{
    background-color: whitesmoke;
}
table {
    margin:20px;
    border-spacing: 10px;
}
 th{
    border:1px solid rgb(2, 23, 23);
    border-radius: 10px;
    font-size: 30px;
}
td{
    border:2px dotted purple;
    border-radius: 10px;
    font-size: 28px;
    margin: 10px;
}
h3{
    font-size: 36px;
    font-style: italic;
    margin:20px;
    text-align: left;
}